<%= simple_form_for @contact, html: { class: "vanilla vanilla-form" } do |f| %>
  <div class="row">
    <div class="col-sm-6 pr-10">
      <%= f.input :name, label: 'Nombre', :required => true, wrapper_html: { class: "form-field" } %>
    </div>
    <div class="col-sm-6 pl-10">
      <%= f.input :email, label: 'Correo electrónico', :required => true, wrapper_html: { class: "form-field" } %>
    </div>
    <div class="col-sm-6 pr-10">
      <%= f.input :subject, label: 'Asunto', :required => true, wrapper_html: { class: "form-field" } %>
    </div>
    <div class="col-sm-6 pl-10">
      <%= f.input :phone_number, label: 'Número de teléfono', :required => true, input_html: { type: 'tel' }, wrapper_html: { class: "form-field" } %>
    </div>
    <div class="col-sm-12">
      <%= f.input :message, label: 'Tu consulta', as: :text, :required => true, wrapper_html: { class: "form-field" } %>
    </div>
    <div class="hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
  </div>
  <div class="text-center">
    <%= f.button :submit, 'Enviar', :class=> "btn", :"data-error" => "Revisa los errores", :"data-processing" => "Enviando...", :"data-success" => "Gracias! Te contactaremos en breve." %>
  </div>
<% end %>
