<!DOCTYPE html>
<html lang="es">
  <head>
    <%= render "meta_tags" %>
    <link rel="canonical" href="http://aranetbadalona.es/" />
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type => "image/png" %>
    <title>Empresa de limpieza en Badalona | Aranet</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="LTD3PS6z8JXTOGEJCPIj8mui_wiJ7vkfiq_jnPHJQYM" />

    <%= render "critical_path_css" %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="onepage" data-spy="scroll" data-target=".navbar">
    <div class="content-wrapper">
      <%= render "header" %>
      <%= yield %>
      <%= render "footer" %>
      <script type="text/javascript" src="style/js/jquery.min.js"></script> 
      <script type="text/javascript" src="style/js/bootstrap.min.js"></script> 
      <script type="text/javascript" src="style/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script> 
      <script type="text/javascript" src="style/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script> 
      <script type="text/javascript" src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
      <script type="text/javascript" src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
      <script type="text/javascript" src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
      <script type="text/javascript" src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
      <script type="text/javascript" src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
      <script type="text/javascript" src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
      <script type="text/javascript" src="style/js/plugins.js"></script> 
      <script type="text/javascript" src="style/js/scripts.min.js"></script>
    </div>
  </body>
</html>
